/faissdb
llm_flask_app/venv
llm_flask_app/.env

__pycache__


setup_folder.py

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.ideadd
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
er.2017-00234.pdf

test.py
/app.py